{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Conditions de don {% endblock %}</h1>

<p>
<h3>Pourquoi donner ?</h3><br><br>

Protéger l'environnement, c'est protéger la planète et tous les êtres vivants. Cela nécessite d'agir sur tous les fronts : climat, énergie, systèmes alimentaires, forêt, vie sauvage, océans, par des actions de terrain et de sensibilisation du public. Afin d'être le plus efficace possible, le WoodWork fait le choix d'utiliser les dons selon les besoins des programmes et de ne pas affecter les dons, sauf demande expresse.<br><br>

Votre don vous permet également de bénéficier d’une déduction fiscale (valable 5 ans) :
    <ul>
        <li>
            66 % du montant de votre don au profit du WoodWork peut être déduit de votre impôt sur le revenu. Le plafond de la déduction s’élève à 20% de votre revenu imposable.
        </li>
        <li>
            75 % du montant de votre don au profit du WoodWork peut être déduit de votre IFI. Le plafond de la déduction s'élève à 50 000 €.
        </li>
    </ul>

Les comptes de l'association sont contrôlés et certifiés par un commissaire aux comptes. Ils sont consultables dans notre rapport d'activité.


Pour toutes questions liées à votre don, vous pouvez vous adresser à :<br><br>
Par courrier : WoodWork Québec, Service Donateur, 9 Square du Castor, Montréal<br>
Par e-mail : donateur@woodwork.ca<br>
Par téléphone : 263-5648-256<br>




<h3>Respect de votre vie privée</h3><br>

Les données communiquées sont nécessaires à WoodWork (responsable de traitement) pour la prise en compte et le traitement de votre don. Elles seront également indispensables pour vous envoyer votre reçu fiscal et à des fins de prospection. La base légale du traitement réside dans l’exécution du contrat de donation (en tant que contrat unilatéral).<br>

Pour plus d’informations sur les durées de conservation de vos données, les destinataires et les transferts de données, veuillez consulter notre politique de protection des données. Vous disposez d’un droit d’accès, de rectification, et en cas de motifs légitimes de suppression, de limitation et d’opposition au traitement de vos données. Vous bénéficiez également du droit à la portabilité de vos données et du droit de donner des directives sur le sort de vos données en cas de décès.<br><br>

Vous pouvez exercer ces droits ou poser toutes questions en lien avec la protection des données en vous adressant à :<br><br>
Par courrier : WoodWork Québec, Responsable de traitement, 9 Square du Castor, Montréal<br>
Par email : mesdonnees@woodwork.ca<br><br>
S’il ne vous était pas donné satisfaction, vous avez la possibilité de saisir la CNIL.<br>

Toutes les informations bancaires pour traiter le paiement sont totalement sécurisées. Elles ne sont en aucun cas conservées sur nos systèmes informatiques.<br>

</p>

{% endblock %}