{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Nos Donateurs {% endblock %}</h1>
<div class="row">
    <div class="col-sm-6">
        <div class="text-center">
            <img src="../static/public/leonardo.jpg" class="img center-block" id="image_leo" alt="Leonardo">
            <div class="parrain">
                <span id="leo">{{leo['name']}} {{leo['fname']}} : {{leo['don']}} €</span>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class='text-center'>
            <img src="../static/public/brad.jpg" class="img center-block" id="image_brad" alt="Brad">
            <div class="parrain">
                <span id="brad">{{brad['name']}} {{brad['fname']}} : {{brad['don']}} €</span>
            </div>
        </div>
    </div>
</div>
<div class='row'>
    {% for d in donator %}
    <div class='col-sm-3 indi-don text-center'>
        <span class='badge align-middle text-left indi-badge'>{{d['_id']['fname']}} {{d['_id']['name']}}<span class='badge float-right inner-badge'>{{d['sum']}} €</span></span>
    </div>
    {% endfor %}
</div>


{% endblock %}