{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Qui sommes-nous? {% endblock %}</h1>

<div class="info">

    Créée en 1986 dans la ville de Pouelcoat dans le Saskatchewan au Canada, cette association vient en aide aux bûcherons qui ont de moins en moins de 
    travail à cause de leur look. De nos jours de part leur barbe et leurs chemises à carreaux, beaucoup de gens les prennent pour des hyipsters et ne les 
    embauches plus pour nettoyer les fôrets. <br>
    Il y a donc urgence, pour chaque € ou $ de dons, nous nous engageons à planter un arbre qui permettra de sauver les bûcherons en perditions.<br>
    
    Sans vous, notre métier est voué à dispaître. Pour tous ces arbres nous vous disons<br> <br>
</div>
<div id="merci">
    MERCI
</div>

{% endblock %}